.icon-card-img {
    width: 150px;
    height: 150px;
}

.table .thead-dark th {
    color: #fff;
    background-color: #009966;
    border-color: #009966;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}